# HwBinder IPC from client to server
binder_call(hal_bestrom_powershare_client, hal_bestrom_powershare_server)

hal_attribute_service(hal_bestrom_powershare, hal_bestrom_powershare_service)
