# HwBinder IPC from client to server
binder_call(hal_ext_livedisplay_client, hal_ext_livedisplay_server)

hal_attribute_service(hal_ext_livedisplay, hal_ext_livedisplay_service)
